/work/website/myplane/server/my-plane-webserver/target/
/work/useit/opensource/androidMouse/MouseServer/target/
/work/website/MyCMS/server/MyCMS/target/
/work/useit/algorithm/bigdog_algorithm/target/
/work/website/one/trunk/target/
/work/website/SmartCMS/trunk/target/
/work/MyWebCMS/target/
/work/MavenJeeBaseParentProject/MyDao/target/
/work/MavenJeeBaseParentProject/MyWebCMS/target/
/work/Maven-bigdata/hadoop-2.6.0-src/hadoop-hdfs-project/hadoop-hdfs/target/
/work/Maven-bigdata/MyHadoop/target/
/work/Maven-bigdata/MyHadoop1/target/