@charset "utf-8";
/* CSS Document */

.myFeel {
	width: 100%;
	clear: both;
}
.mt {
	margin-top: 20px;
}
.mr {
	margin-right: 10px;
}
.msgBox {
	width: 100%;
	float: left;
	background: #f8f8f8;
	height: 105px;
	margin-top: 5px;
	margin-bottom: 20px;
}
.msgBox h4 {
	font-size: 14px;
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	margin-top: 5px;
	text-align: left;
	float: left
}
.msgBox h4 span {
	padding-left: 12px;
}
.msgBox textarea.inn {
	border: 1px solid #ccc;
	float: left;
	padding: 3px 5px;
	width: 80%;
	height: 50px;
	float: left;
	margin-left: 12px;
	margin-right: 20px;
}
#right .item {
	float: left;
	width: 100%;
	margin-bottom: 8px;
	clear: both;
	border-bottom: 1px dotted #EBEBEB;
	padding-bottom: 8px; 
}
#right .item .avatar {
	float: left;
	width: 49px;
	margin-right: 15px;
}
#right .item .rightInfo {
	float: left;
	width: 575px;
}
#right .item .rightInfo h5 {
	line-height: 24px;
	font-weight: normal;
	width: 100%;
	color: #666;
	font-size: 12px;
}
#right .item .rightInfo h5 a {
	color: #ed008c;
	text-decoration: none;
	margin-right: 5px;
}
#right .item .rightInfo h5 a:hover {
	text-decoration: underline;
}
#right .item .rightInfo h5 span {
	color: #999;
	padding-left: 10px;
}
#right .rep {
	float: left;
	clear: both;
	margin-top: 10px;
	background: #fef0f3;
	width: 80%;
	padding: 5px;
}
#right .rep input.text {
	border: 0px;
	color: #999;
	padding: 4px 6px;
	font-size: 12px;
	width: 85%;
	float: left;
	line-height: 14px;
}
#right .rep input.submit {
	border: 0px;
	color: #ae6d81;
	font-size: 12px;
	padding: 4px 6px;
	background: none;
	margin-left: 8px;
	_margin-left: 4px;
	cursor: pointer
}
