@charset "utf-8";
/* CSS Document */

.inputBox {
	float: left;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}
.mlx {
	margin-left: 10px;
	display: inline;
}

.viewPhoto {
	float: left;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 50px;
}

.ctrlHolder{ width: 60%;   }

.step{ float: left; margin: 20px 0px 0px 0px; }

