<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">    
    <context:component-scan base-package="com.bigdog.server.web"/>
    <!-- spring and JPA=====================================   -->
    <context:annotation-config/>
    
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>                
                <value>classpath:jdbc.properties</value>                
                <value>classpath:carfinder.properties</value>
            </list>
        </property>
    </bean>
  
    <bean id="initParamContainer" class="com.bigdog.server.web.crimedoc.cfg.InitParamContainer" >
        <property name="parameters">
            <map>
                <entry key="emptyMethod" value="${carfinder.emptyMethod}"/>
                <entry key="messageFile" value="${carfinder.messageFile}"/>
                <entry key="driverclassname" value="${jdbc.driverclassname}"/>
                <entry key="jdbcUrl" value="${jdbc.jdbcUrl}"/>
                <entry key="user" value="${jdbc.user}"/>
                <entry key="password" value="${jdbc.password}"/>
                <entry key="minPoolSize" value="${jdbc.minPoolSize}"/>
                <entry key="maxPoolSize" value="${jdbc.maxPoolSize}"/>
                <entry key="initialPoolSize" value="${jdbc.initialPoolSize}"/>
                <entry key="maxIdleTime" value="${jdbc.maxIdleTime}"/>
                <entry key="acquireIncrement" value="${jdbc.acquireIncrement}"/>
                <entry key="idleConnectionTestPeriod" value="${jdbc.idleConnectionTestPeriod}"/>
                <entry key="acquireRetryAttempts" value="${jdbc.acquireRetryAttempts}"/>                                
            </map>
        </property>
    </bean>
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="bigdog"/>
    </bean>
    <bean id="txManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    <tx:annotation-driven transaction-manager="txManager"/>

    <!--Spring rmi client ==============================-->
<!--    <bean id="sessionServerServiceProx" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://${rmi.rmiServer}/sessionServerService"/>
        <property name="serviceInterface" value="com.bigdog.server.web.crimedoc.rmi.SessionServerService"/>
    </bean>-->
    <!-- ==============================Spring rmi  client-->

</beans>



